@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  list-style-type: none; }

a {
  text-decoration: none;
  color: black; }

ul {
  padding-left: 0rem; }

body {
  background-color: rgba(43, 19, 177, 0.26);
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%; }

footer {
  background-color: rgba(43, 19, 177, 0.445); }

header {
  background-color: rgba(43, 19, 177, 0.445); }

main {
  min-height: 100vh; }

#logo {
  height: 40px;
  width: 80px;
  border-radius: 5px;
  margin: 5px 20px 5px 5px; }

#carritoImg {
  display: none; }

.btnOcultar {
  display: none; }

#navbarSupportedContent ul .nav-item {
  border: 1px solid black;
  margin: 2px;
  margin-left: 10px; }
  #navbarSupportedContent ul .nav-item:hover {
    transform: translate(2px, 2px);
    background-color: rgba(0, 0, 255, 0.089);
    border: none;
    border-radius: 5px;
    font-weight: bolder; }

.box--1 {
  background-color: rgba(255, 0, 0, 0.452); }

.box--2 {
  background-color: rgba(0, 0, 255, 0.322); }

.box--3 {
  background-color: white; }

.box--4 {
  background-color: beige; }

.sectionCategoria .seccionCategoriaFlex {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .sectionCategoria .seccionCategoriaFlex .categoriaText {
    display: none; }
  .sectionCategoria .seccionCategoriaFlex .seccionCategoriaProperties {
    font-size: 12px;
    padding: 5px;
    margin: 5px;
    background-color: rgba(255, 255, 0, 0.637); }
    .sectionCategoria .seccionCategoriaFlex .seccionCategoriaProperties:hover {
      background-color: white;
      font-weight: bolder; }

.box--1 {
  background-color: rgba(255, 0, 0, 0.452); }

.box--2 {
  background-color: rgba(0, 0, 255, 0.322); }

.box--3 {
  background-color: white; }

.box--4 {
  background-color: beige; }

.sectionVendido div h2, .sectionOferta div h2 {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.397);
  border-bottom: 1px solid rgba(0, 0, 0, 0.452);
  font-size: 18px; }

.sectionVendido div .productoFlex, .sectionOferta div .productoFlex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .sectionVendido div .productoFlex .contenedorProducto, .sectionOferta div .productoFlex .contenedorProducto {
    background-color: white;
    padding: 10px;
    width: 170px;
    margin: 6px;
    margin-bottom: 20px; }
    .sectionVendido div .productoFlex .contenedorProducto:hover, .sectionOferta div .productoFlex .contenedorProducto:hover {
      transform: scale(1.1);
      transition: all 0.5s ease-in-out;
      background-color: rgba(0, 8, 8, 0.178); }
    .sectionVendido div .productoFlex .contenedorProducto div .imagenProducto, .sectionOferta div .productoFlex .contenedorProducto div .imagenProducto {
      height: 100px;
      width: 100px; }
    .sectionVendido div .productoFlex .contenedorProducto .letraProducto, .sectionOferta div .productoFlex .contenedorProducto .letraProducto {
      font-size: 12px;
      margin-top: 5px; }
      .sectionVendido div .productoFlex .contenedorProducto .letraProducto .precio, .sectionOferta div .productoFlex .contenedorProducto .letraProducto .precio {
        display: flex;
        justify-content: center; }
        .sectionVendido div .productoFlex .contenedorProducto .letraProducto .precio .pesoSimbolo, .sectionOferta div .productoFlex .contenedorProducto .letraProducto .precio .pesoSimbolo {
          font-size: 10px; }
        .sectionVendido div .productoFlex .contenedorProducto .letraProducto .precio .numeroPrecio, .sectionOferta div .productoFlex .contenedorProducto .letraProducto .precio .numeroPrecio {
          font-size: 20px; }

.btn {
  color: black; }

.box--1 {
  background-color: rgba(255, 0, 0, 0.452); }

.box--2 {
  background-color: rgba(0, 0, 255, 0.322); }

.box--3 {
  background-color: white; }

.box--4 {
  background-color: beige; }

.propertiesLogoTw {
  height: 60px;
  width: 60px;
  border-radius: 50%; }

/*Propiedades registro.html*/
.registroSeccion {
  background-image: url(../img/maderaFondo.jpg);
  display: flex;
  justify-content: center; }
  .registroSeccion .registroArticulo {
    background: linear-gradient(to bottom left, cyan 30%, palegoldenrod 70%);
    padding: 30px;
    min-height: 100vh; }
    .registroSeccion .registroArticulo form div .inputProperties {
      width: 80%;
      padding: 5px;
      border: none;
      margin: 3px; }
    .registroSeccion .registroArticulo form div label .textLabelRegistro {
      height: 100px;
      width: 80%;
      border: none; }
    .registroSeccion .registroArticulo form #enviarFormularioRegistro {
      padding: 5px;
      width: 100px;
      position: relative;
      top: 15px;
      left: 30%; }

/*Propiedades sesion.html*/
.contenedorSesion {
  background-image: url(../img/maderaFondo.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .contenedorSesion .ofertasExclusivas {
    background: linear-gradient(to bottom left, cyan 30%, palegoldenrod 70%);
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px; }
    .contenedorSesion .ofertasExclusivas h3 {
      font-weight: bold; }
  .contenedorSesion .iniciarSesionDiv {
    width: 95%;
    display: flex;
    justify-content: center; }
    .contenedorSesion .iniciarSesionDiv .iniciarSesionSeccion {
      background: linear-gradient(to bottom left, cyan 30%, palegoldenrod 70%);
      margin-top: 20px;
      padding: 10px;
      border-radius: 10px;
      height: 350px;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      .contenedorSesion .iniciarSesionDiv .iniciarSesionSeccion div .imgInicioSesion {
        height: 110px;
        width: 110px; }
      .contenedorSesion .iniciarSesionDiv .iniciarSesionSeccion div .mailLogin {
        margin: 5px 0px 5px 0px;
        padding: 5px;
        width: 80%; }
      .contenedorSesion .iniciarSesionDiv .iniciarSesionSeccion div .claveLogin {
        margin: 5px 0px 5px 0px;
        margin-bottom: 25px;
        padding: 5px;
        width: 80%; }
      .contenedorSesion .iniciarSesionDiv .iniciarSesionSeccion div .loginInp {
        padding: 2px;
        margin: 2px; }
        .contenedorSesion .iniciarSesionDiv .iniciarSesionSeccion div .loginInp:hover {
          transform: translate(1px, 1px); }
    .contenedorSesion .iniciarSesionDiv a {
      color: #0dffa2; }
      .contenedorSesion .iniciarSesionDiv a:hover {
        color: black; }
  .contenedorSesion .advertenciasLogin {
    color: white;
    background-color: #333c87;
    border: 2px dashed black;
    min-width: 100%; }

/*Propiedades carrito.html*/
.contenedorCarrito {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .contenedorCarrito section #carritoDiv {
    position: absolute; }
    .contenedorCarrito section #carritoDiv .carritoDivImg {
      display: none;
      width: 40px;
      height: 40px;
      margin-top: 25px;
      margin-left: 20px; }
  .contenedorCarrito section .sectioneElementos {
    min-height: 70vh;
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, 0.616); }
    .contenedorCarrito section .sectioneElementos .sectionElementosTop {
      border-bottom: 1px solid rgba(255, 255, 255, 0.308); }
    .contenedorCarrito section .sectioneElementos div ul .alinearElementos {
      display: inline-block; }
    .contenedorCarrito section .sectioneElementos div ul .carritoSectionLista {
      padding: 10px;
      margin-left: 20px;
      margin-top: 10px;
      border: 1px solid black;
      font-size: medium; }
    .contenedorCarrito section .sectioneElementos div .carritoSectionVacio {
      font-size: medium;
      margin-top: 100px; }
  .contenedorCarrito .carousel-item .tamañoImagenesCarousel {
    height: 250px;
    width: 100%; }

/*Propiedades noticias.html*/
.contNoticia {
  background-color: #cdcdcd; }
  .contNoticia .seccionNoticia {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .contNoticia .seccionNoticia .articuloNoticia {
      width: 100%;
      display: flex;
      flex-direction: column; }
      .contNoticia .seccionNoticia .articuloNoticia #articuloNoticiasTitulo h6 {
        font-size: 20px;
        padding-top: 20px; }
      .contNoticia .seccionNoticia .articuloNoticia div .articuloNoticiasVideo {
        margin-top: 15px;
        width: 95%;
        height: 315px; }
    .contNoticia .seccionNoticia .articuloNoticiasParrafo {
      font-size: small;
      margin-top: 80px; }
  .contNoticia #seccionNotiReporteros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black; }
    .contNoticia #seccionNotiReporteros h7 {
      padding: 10px 0px 10px 0px;
      font-weight: bold; }
    .contNoticia #seccionNotiReporteros div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      justify-content: space-around; }
      .contNoticia #seccionNotiReporteros div .box {
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        width: 250px; }
        .contNoticia #seccionNotiReporteros div .box div .notiReporterosImg {
          height: 200px;
          width: 200px; }
        .contNoticia #seccionNotiReporteros div .box .nombreEquipo {
          padding: 5px;
          width: 100%; }
          .contNoticia #seccionNotiReporteros div .box .nombreEquipo p {
            font-size: 18px; }
        .contNoticia #seccionNotiReporteros div .box .descripcionEquipo p {
          font-size: 14px; }

.sectionCategoria {
  grid-area: categoria; }

.sectionVendido {
  grid-area: vendido; }

.sectionOferta {
  grid-area: oferta; }

.mainDivGrid {
  display: grid;
  grid-template-areas: "categoria" "oferta" "vendido"; }

@media (min-width: 480px) {
  .mainDivGrid {
    grid-template-areas: "categoria" "vendido" "oferta"; }
  #logo {
    height: 50px;
    width: 100px; }
  .contenedorSesion .iniciarSesionDiv .iniciarSesionSeccion {
    width: 70%; } }

@media (min-width: 768px) {
  .contenedorSesion .iniciarSesionDiv .iniciarSesionSeccion {
    width: 60%; }
  .mainDivGrid {
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: "categoria vendido" "categoria oferta"; }
  #logo {
    height: 70px;
    width: 140px; }
    #logo:hover {
      animation: logo 2s; }
  @keyframes logo {
    10% {
      transform: rotate(5deg); }
    30% {
      transform: rotate(-5deg); }
    80% {
      transform: scale(1.1); } }
  .sectionCategoria {
    border: 1px solid black;
    min-height: 100vh;
    margin: 5px 2px 5px 2px; }
    .sectionCategoria .seccionCategoriaFlex {
      flex-direction: column; }
      .sectionCategoria .seccionCategoriaFlex .categoriaText {
        display: initial;
        color: rgba(0, 0, 0, 0.856);
        font-size: 20px;
        padding: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 255, 0.178); }
      .sectionCategoria .seccionCategoriaFlex .seccionCategoriaProperties {
        padding: 10px;
        font-size: 16px; }
  .sectionVendido div h2, .sectionOferta div h2 {
    text-align: start;
    margin-left: 10px;
    margin-top: 37px;
    margin-bottom: 20px;
    border-bottom: none; }
  .sectionVendido div .productoFlex, .sectionOferta div .productoFlex {
    justify-content: start;
    margin: 12px; }
    .sectionVendido div .productoFlex .contenedorProducto, .sectionOferta div .productoFlex .contenedorProducto {
      margin: 10px; }
      .sectionVendido div .productoFlex .contenedorProducto:hover, .sectionOferta div .productoFlex .contenedorProducto:hover {
        transform: scale(1.2);
        background-color: rgba(0, 8, 8, 0.178); }
      .sectionVendido div .productoFlex .contenedorProducto div .imagenProducto, .sectionOferta div .productoFlex .contenedorProducto div .imagenProducto {
        height: 150px;
        width: 150px; }
      .sectionVendido div .productoFlex .contenedorProducto .letraProducto, .sectionOferta div .productoFlex .contenedorProducto .letraProducto {
        font-size: 14px; }
  .contenedorCarrito section #carritoDiv .carritoDivImg {
    display: initial; }
  .contNoticia {
    padding: 10px; }
    .contNoticia .seccionNoticia {
      border: 1px solid black; }
      .contNoticia .seccionNoticia .articuloNoticia div .articuloNoticiasVideo {
        width: 60%;
        height: 415px; }
      .contNoticia .seccionNoticia div {
        display: flex;
        justify-content: center; }
        .contNoticia .seccionNoticia div p {
          width: 70%; }
    .contNoticia #seccionNotiReporteros {
      border: none; }
      .contNoticia #seccionNotiReporteros div {
        border: none; }
  .btnOcultar {
    display: initial; } }

@media (min-width: 992px) {
  #carritoImg {
    display: initial;
    height: 15px;
    width: 15px; }
  .contenedorSesion .iniciarSesionDiv .iniciarSesionSeccion {
    width: 35%; } }
