@import "./abstracts/variables";
@import "./base/resets";
@import "./base/base";
@import "./layout/header";
@import "./layout/categorias";
@import "./layout/productos";
@import "./components/buttons";
@import "./base/mixins";
@import "./abstracts/operaciones";

.propertiesLogoTw{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
/*Propiedades registro.html*/
.registroSeccion{
    background-image: url(../img/maderaFondo.jpg);
    @include flexCenter;

    .registroArticulo{
        background: linear-gradient(to bottom left, cyan 30%, palegoldenrod 70%);
        padding: 30px;
        min-height: 100vh;

        form{
            div{
                .inputProperties{
                    width: 80%;
                    padding: 5px;
                    border: none;
                    margin: 3px;
                }
                label{
                    .textLabelRegistro{
                        height: 100px;
                        width: 80%;
                        border: none;
                    }
                }
                
            }
            #enviarFormularioRegistro{
                padding: 5px;
                width: 100px;
                position: relative;
                top: 15px;
                left: 30%;
            }
        }
    }
}
/*Propiedades sesion.html*/
.contenedorSesion{
    background-image: url(../img/maderaFondo.jpg);
    min-height: 100vh;
    @include flexColumn;
    justify-content: space-between;
    align-items: center;

    .ofertasExclusivas{
        background: linear-gradient(to bottom left, cyan 30%, palegoldenrod 70%);
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border-radius: 10px;
        h3{
            font-weight: bold;
        }
    }

    .iniciarSesionDiv{
        width: 95%;
        @include flexCenter;
        
        .iniciarSesionSeccion{
            background: linear-gradient(to bottom left, cyan 30%, palegoldenrod 70%);
            margin-top: 20px;
            padding: 10px;
            border-radius: 10px;
            height: 350px;
            @include flexCenter;
            flex-direction: column;
    
            div{
                .imgInicioSesion{
                    height: 110px;
                    width: 110px;
                }
                .mailLogin{
                    margin: 5px 0px 5px 0px;
                    padding: 5px;
                    width: 80%;
                }
                .claveLogin{
                    margin: 5px 0px 5px 0px;
                    margin-bottom: 25px;
                    padding: 5px;
                    width: 80%;
                }
                .loginInp{
                    padding: 2px;
                    margin: 2px;
                    &:hover{
                        transform: translate(1px, 1px);
                    }      
                }
            }
        }
    
        a{
            color: rgb(13, 255, 162);
            &:hover{
                color: black;
            }
        }
    }
    .advertenciasLogin{
        color: white;
        background-color: #333c87;
        border: 2px dashed black;
        min-width: 100%;
    }
}
/*Propiedades carrito.html*/
.contenedorCarrito{
    height: 100vh;
    @include flexColumn;
    justify-content: space-between;
    section{
        #carritoDiv{
            position: absolute;
            .carritoDivImg{
                display: none;
                width: 40px;
                height: 40px;
                margin-top: 25px;
                margin-left: 20px;
            }
        }
        .sectioneElementos{
            min-height: 70vh;
            margin: 10px;
            border: 1px solid rgba(255, 255, 255, 0.616);
        
            .sectionElementosTop{
                border-bottom: 1px solid rgba(255, 255, 255, 0.308);
            }
            div{
                ul{
                    .alinearElementos{
                        display: inline-block;
                    }
                    .carritoSectionLista{
                        padding: 10px;
                        margin-left: 20px;
                        margin-top: 10px;
                        border: 1px solid black;
                        font-size: medium;
                    }
                }
                .carritoSectionVacio{
                    font-size: medium;
                    margin-top: 100px;
                }
                
            }
        }
    }
    .carousel-item{
        .tamañoImagenesCarousel{
            height: 200px;
            width: 100%;
        }
    }
}
/*Propiedades noticias.html*/
.contNoticia{
    background-color: rgb(205, 205, 205);
    .seccionNoticia{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .articuloNoticia{
            width: 100%;
            @include flexColumn;
            
            
            #articuloNoticiasTitulo{
                h6{
                    font-size: 20px;
                    padding-top: 20px;
                }
            }
    
            div{
                .articuloNoticiasVideo{
                    margin-top: 15px;
                    width: 95%;
                    height: 315px;
                }
            }
        }
        .articuloNoticiasParrafo{
            font-size: small;
            margin-top: 80px;
        }
    }
    #seccionNotiReporteros{
        display: flex;
        flex-direction: column;   
        flex-wrap: wrap; 
        border: 1px solid black;
        h7{
            padding: 10px 0px 10px 0px;
            font-weight: bold
        }
        div{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            justify-content: space-around;
         
            .box{
                padding: 20px;
                margin: 10px;
                border-radius: 10px;
                width: 250px;

                div{
                    .notiReporterosImg{
                        height: 200px;
                        width: 200px;
                    }
                }
                .nombreEquipo{
                    padding: 5px;
                    width: 100%;
                    p{
                        font-size: 18px;
                    }
                }
                .descripcionEquipo{
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
.sectionCategoria{
    grid-area: categoria;
}
.sectionVendido{
    grid-area: vendido;
}
.sectionOferta{
    grid-area: oferta;
}
.mainDivGrid{
    display: grid;
    grid-template-areas: 
    "categoria"
    "oferta"
    "vendido";
}
@media (min-width:480px){
    .mainDivGrid{
        grid-template-areas: 
        "categoria"
        "vendido"
        "oferta";
    }
    #logo{
        height: 50px;
        width: 100px;
    }
    .contenedorSesion{
        .iniciarSesionDiv{
            .iniciarSesionSeccion{
                width: 70%;
            }
        }
    }
}
@media (min-width:768px){
    .contenedorSesion{
        .iniciarSesionDiv{
            .iniciarSesionSeccion{
                width: 60%;
            }
        }
    }
    .mainDivGrid{
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 2fr 2fr;
        grid-template-areas: 
        "categoria vendido"
        "categoria oferta";
    }
    #logo{
        height: 70px;
        width: 140px;

        &:hover{
            animation: logo 2s;
        }
        @keyframes logo {
            10%{
                transform: rotate(5deg);
            }
            30%{
                transform: rotate(-5deg);
            }
            80%{
                transform: scale(1.1);
            }
        }
    }
    .sectionCategoria{
        border: 1px solid black;
        min-height: 100vh;
        margin: 5px 2px 5px 2px;

        .seccionCategoriaFlex{
            flex-direction: column;

            .categoriaText{
                display: initial;
                color: rgba(0, 0, 0, 0.856);
                font-size: 20px;
                padding: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid rgba(0, 0, 255, 0.178);
            }

            .seccionCategoriaProperties{
                padding: 10px;
                font-size: 16px;    
            }
        }
    }
    .sectionVendido, .sectionOferta{
        div{
            h2{
                text-align: start;
                margin-left: 10px;
                margin-top: 37px;
                margin-bottom: 20px;
                border-bottom: none;
            }

            .productoFlex{
                justify-content: start;
                margin: 12px;
                .contenedorProducto{
                    &:hover{
                        transform: scale(1.2);
                        background-color: rgba(0, 8, 8, 0.178);
                    }
                    margin: 10px;
                    div{
                        .imagenProducto{
                            height: 150px;
                            width: 150px;
                        }
                    }
                    .letraProducto{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .contenedorCarrito{
        section{
            #carritoDiv{
                .carritoDivImg{
                    display: initial;
                }
            }
        }
    }
    .contNoticia{
        padding: 10px;
        .seccionNoticia{
            border: 1px solid black;
            .articuloNoticia{
                div{
                    .articuloNoticiasVideo{
                        width: 70%;
                        height: 515px;
                    }
                }
            }
            div{
                display: flex;
                justify-content: center;
                p{
                    width: 70%;
                }
            }
        }
        #seccionNotiReporteros{
            border: none;
            div{
                border: none;
            }
        }
    }
    .btnOcultar{
        display: initial;
    }
}
@media (min-width:992px){
    #carritoImg{
        display: initial;
        height: 15px;
        width: 15px;
    }
    .contenedorSesion{
        .iniciarSesionDiv{
            .iniciarSesionSeccion{
                width: 35%;
            }
        }
    }
}