@import "../base/mixins";
@import "../abstracts/operaciones";

.sectionCategoria{
    .seccionCategoriaFlex{
        margin-top: 5px;
        @include flexCenter;
        flex-wrap: wrap;

        .categoriaText{
            display: none;
        }

        .seccionCategoriaProperties{
            font-size: 12px;
            padding: 5px;
            margin: 5px;
            background-color: $color3;

            &:hover{
                background-color: map-get($estilos, bgColorHover);
                font-weight: bolder;
            }
        }
    }

}
