@import "../base/mixins";

.sectionCategoria{
    margin: 1px;

    .seccionCategoriaFlex{
        @include flexCenter;
        flex-wrap: wrap;

        .categoriaText{
            display: none;
        }

        .seccionCategoriaProperties{
            font-size: 12px;
            padding: 5px;
            margin: 5px;
            background-color: $color3;

            &:hover{
                background-color: $color4;
            }
        }
    }

}
