#logo{
    height: 40px;
    width: 80px;
    border-radius: 5px;
    margin: 5px 20px 5px 5px;
}
#carritoImg{
    display: none;
}
.btnOcultar{
    display: none;
}
#navbarSupportedContent{
    ul{
        .nav-item{
            border: 1px solid black;
            margin: 2px;
            margin-left: 10px;
            &:hover{
                transform: translate(2px, 2px);
                background-color: rgba(0, 0, 255, 0.089);
                border: none;
                border-radius: 5px;
                font-weight: bolder;
            }
        }
    }
}
