@import "../abstracts/operaciones";

.sectionVendido, .sectionOferta{
    div{
        h2{
            margin-top: 10px;
            color: map-get($estilos, colorBdif);
            border-bottom: map-get($estilos, bordeB);
            font-size: 18px;
        }
        .productoFlex{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        
            .contenedorProducto{
                background-color: map-get($estilos, bgColorHover);  
                padding: 10px;
                width: 170px;
                margin: 6px;
                margin-bottom: 20px;
                &:hover{
                    transform: scale(1.1);
                    transition: all 0.5s ease-in-out;
                    background-color: rgba(0, 8, 8, 0.178);
                }
                div{
                    .imagenProducto{
                        height: 100px;
                        width: 100px;
                    }
                }
                .letraProducto{
                    font-size: 12px;
                    margin-top: 5px;
        
                    .precio{
                        @include flexCenter;
        
                        .pesoSimbolo{
                            font-size: 10px;
                        }
                        .numeroPrecio{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}