@mixin flexCenter {
    display: flex;
    justify-content: center;
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
}
@mixin flexStart {
    display: flex;
    justify-content: start;
}