$cajas:(
    1: rgba(255, 0, 0, 0.452),
    2: rgba(0, 0, 255, 0.322),
    3: white,
    4: beige,
);
@each $caja, $color in $cajas{
    .box--#{$caja}{
        background-color: $color;
    }
}
$estilos: (
   colorBdif: rgba(0, 0, 0, 0.397),
   bordeB: 1px solid rgba(0, 0, 0, 0.452),
   bgColorHover: white
);