@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
    list-style-type: none;
}
.propertiesLogoTw{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: black;
}
ol, ul {
    padding-left: 0rem;
}
header, footer{
    background-color: rgba(43, 19, 177, 0.445);
}
body{
    background-color: rgba(43, 19, 177, 0.26);
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main{
    min-height: 100vh;
}
#logo{
    height: 40px;
    width: 80px;
    border-radius: 5px;
    margin: 10px;
}
#carritoImg{
   display: none;
}
.navFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul li{
    margin-top: 8px;
}
nav ul li:hover{
    transform: translate(5px, 5px);
    background-color: rgba(0, 0, 255, 0.089);
    color: white;
    border: none;
    border-radius: 5px;
}
nav ul li a:hover{
    color: rgba(255, 255, 255, 0.664);
}
.searchProperties{
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: 90%;
    height: 30px;
}
.seccionCategoriaFlex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.seccionCategoriaProperties{
    font-size: 12px;
    padding: 5px;
    margin: 5px;
    background-color: rgba(255, 255, 0, 0.637);
}
.seccionCategoriaProperties:hover{
    background-color: rgba(255, 136, 0, 0.349);
}
.imagenProducto{
    height: 100px;
    width: 100px;
}
h2{
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.315);
    border-bottom: 1px solid rgba(0, 0, 0, 0.452);
    font-size: 18px;
}
.letraProducto{
    font-size: 9px;
}
.contenedorProducto{
  background-color: rgba(172, 255, 47, 0.212);  
  padding-bottom: 10px;
  margin: 20px;
}
.contenedorProducto:hover{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    background-color: rgba(0, 255, 255, 0.295);
}
.productoFlex{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.goHomeNav{
    display: none;
}
.categoriaText{
    display: none;
}
.buscarProductoText{
    display: none;
}
/*Propiedades registro.html*/
.inputProperties{
    width: 80%;
    padding: 5px;
    border: none;
    margin: 3px;
}
.registroSeccion{
    background-image: url(../img/maderaFondo.jpg);
    display: flex;
    justify-content: center;
}
.registroArticulo{
    background: linear-gradient(to bottom left, cyan 30%, palegoldenrod 70%);
    padding: 30px;
    height: 100vh;
}
#enviarFormularioRegistro{
    padding: 5px;
    width: 100px;
    position: relative;
    top: 15px;
    left: 30%;
}
#textLabelRegistro{
    height: 100px;
    width: 80%;
    border: none;
}
/*Propiedades sesion.html*/
.iniciarSesionDiv{
    background-image: url(../img/maderaFondo.jpg);
    display: flex;
    justify-content: center;
    height: 100vh;
}
.imgInicioSesion{
    height: 110px;
    width: 110px;
}
.iniciarSesionSeccion{
    background: linear-gradient(to bottom left, cyan 30%, palegoldenrod 70%);
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    height: 250px;
    width: 250;
}
.IniciarSesioncentrarElementos{
    position: relative;
    justify-content: center;
}
/*Propiedades carrito.html*/
.carritoSectionImg{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
.carritoSectionLista{
    padding: 10px;
    margin-left: 20px;
    border: 1px solid black;
    font-size: small;
}
#carritoFlex{
    display: flex;
    justify-content: start;
}
.carritoSectionFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.carritoSectionVacio{
    font-size: small;
    position: relative;
    bottom: 50vh;
}
.alinearElementos{
    display: inline-block;
    margin-top: 5px;
}
/*Propiedades noticias.html*/
.articuloNoticia{
    background-color: rgb(205, 205, 205);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.seccionNoticia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#articuloNoticiasTitulo{
    text-align: center;
    font-size: larger;
    padding: 10px;
    margin-bottom: 10px;
}
.articuloNoticiasVideo{
    margin-top: 15px;
    width: 95%;
    height: 315px;
}
.articuloNoticiasParrafo{
    font-size: small;
    margin-top: 80px;
}
header{
    grid-area: header;
}
.divLogo{
    grid-area: logo;
}
nav{
    grid-area: nav;
}
.sectionBuscar{
    grid-area: buscador;
}
.sectionCategoria{
    grid-area: categoria;
}
.sectionVendido{
    grid-area: vendido;
}
.sectionOferta{
    grid-area: oferta;
}
.headerGrid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "logo nav"
    "buscador buscador";
}
.mainDivGrid{
    display: grid;
    grid-template-areas: 
    "categoria"
    "oferta"
    "vendido";
}
@media (min-width:480px){
    nav ul li{
        margin-top: 15px;
    }
    .headerGrid{
        grid-template-columns: 2fr 6fr ;
        grid-template-areas: 
        "logo nav nav"
        "buscador buscador buscador";
    }
    .mainDivGrid{
        grid-template-areas: 
        "categoria"
        "vendido"
        "oferta";
    }
    #logo{
        height: 50px;
        width: 100px;
    }
}
@media (min-width:768px){
    .headerGrid{
        grid-template-columns: 2fr 6fr ;
        grid-template-areas: 
        "logo nav nav"
        "buscador buscador buscador";
    }
    .mainDivGrid{
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 2fr 5fr;
        grid-template-areas: 
        "categoria vendido"
        "categoria oferta";
    }
    #carritoImg{
        display: initial;
        height: 15px;
        width: 15px;
        border: 1px solid black;
        border-radius: 5px;
    }
    .goHomeNav{
        display: initial;
    }
    #logo{
        height: 70px;
        width: 140px;
        margin-left: 20px;
    }
    #logo:hover{
        animation: logo 2s;
    }
    @keyframes logo {
        0%{
            transform: rotate(-180deg);
        }
        60%{
            transform: scale(1.3);
        }
    }
    .categoriaText{
        display: initial;
        color: rgba(0, 0, 0, 0.315);
        font-size: 20px;
        padding: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 255, 0.178);
    }
    .sectionCategoria{
        border: 1px solid black;
        min-height: 100vh;
    }
    .seccionCategoriaFlex{
        flex-direction: column;
        }
    .seccionCategoriaProperties{
        padding: 10px;
        font-size: 16px;    
    }
    nav ul li{
        font-size: 16px;
        border: 1px solid black;
        padding: 6px;
        margin-top: 20px;
    }
    h2{
        text-align: start;
        margin-left: 10px;
        margin-top: 37px;
        border-bottom: none;
    }
    .imagenProducto{
        height: 150px;
        width: 150px;
    }
    .letraProducto{
        font-size: 14px;
    }
    .carritoSectionImg{
        width: 80px;
        height: 80px;
    }
    .carritoSectionLista{
        font-size: 18px;
    }
    .carritoSectionVacio{
        font-size: 16px;
    }
    .articuloNoticiasVideo{
        width: 50%;
        height: 415px;
    }
}
@media (min-width:1024px){
    nav ul{
        justify-content: space-evenly;
    }
    .headerGrid{
        grid-template-columns: 1fr 4fr 4fr ;
        grid-template-areas: 
        "logo buscador nav"        
    }
    .buscarProductoText{
        display: initial;
        font-size: 13px;
    }
    .sectionBuscar{
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }
    #barraSearch{
        width: 70%;
    }
}